/* === ResizeHandle === */
#resize-corner {
    position: fixed;
    right: 4px;
    bottom: 4px;
    width: 12px;
    height: 12px;
    cursor: nwse-resize;
    z-index: 9999;
    background:
        linear-gradient(135deg, transparent 50%, #8C8C8C 50%, #8C8C8C 60%, transparent 60%),
        linear-gradient(135deg, transparent 70%, #8C8C8C 70%, #8C8C8C 80%, transparent 80%);
}